@using App.Utils.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

@Html.Action("Get_Hot_Sale_Product", "Home")
<div id="st-product">
    ok man
</div>

<!--Javascript-->
<script src="~/Front/js/libs/jquery-3.3.1.min.js"></script>
<script src="~/Front/js/controllers/indexController.js"></script>